<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa
    	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- permite el uso de anotacioknes con spring en el base package mencionado -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.juanjo"></context:component-scan>
	
	<!-- SE CARGA EL ARCHIVO DE CONFIGURACION DE PROPERTIES -->
	<context:property-placeholder location="classpath*:config/application-properties.properties"/>
	
	<!-- bean que se encarga de realizar la conexion a la base de datos -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${spring.datasource.driverClassName}"></property>
		<property name="url" value="${spring.datasource.url}"></property>
		<property name="username" value="${spring.datasource.username}"></property>
		<property name="password" value="${spring.datasource.password}"></property>
		
<!-- 		<property name="minPoolSize" value="5"></property> -->
<!-- 		<property name="maxPoolSize" value="10"></property> -->
<!-- 		<property name="maxIdLeTime" value="30000"></property> -->
	</bean>
	
	<!-- BEAN QUE SE ENCARGA DE ADMINISTRAR Y REGISTRAR LOS ENTITIES DE JPA Y SUS PROPIEDADES -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.juanjo.tiendamusicalentities.entities"></property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.time_zone">UTC</prop>
			</props>
		</property>
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
		</property>
	</bean>
	
	<!-- BEAN QUE SE ENCARGA DE GESTIONAR LAS TRANSACCIONES PARA EL CRUD DE LOS ENTITIES -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

<!-- ETIQUETA QUE PERMITE UTILIZAR LA ANOTACION @transactional DE SPRING PARA EJECUTAR TRANSACIONES DE JPA -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
<!-- ETIQUETA  QUE PERMITE REGISTRAR LAS CLASES QUE SE ENCARGAN DE EJECUTAR LAS TRANSACCIONES A LA BASE DE DATOS (DAO)-->
	<jpa:repositories base-package="com.juanjo.tiendamusicaldata.repositories" entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>
</beans>